BOT_TOKEN=123456789:AAxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
BOT_DROP_PENDING_UPDATES=true

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=telegramsales
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

APP_ROOT_ID=123456789
APP_WORK_CHAT_ID=-1001234567890
APP_DEFAULT_LOCALE=ru
APP_LOG_LEVEL=INFO
APP_LOG_JSON=false

BACKUP_INTERVAL=86400
BACKUP_KEEP_DAYS=14
