BOT_TOKEN=123456789:AAxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
BOT_DROP_PENDING_UPDATES=true

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=telegramsales
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

APP_ROOT_ID=123456789
APP_DEFAULT_LOCALE=ru
APP_LOG_LEVEL=INFO
APP_LOG_JSON=false
